@model _9AspNetCoreWebAppMVC.Models.Student

@{
    ViewData["Title"] = "Cannot delete";
}

<h1>Cannot delete a group bacause it contains students.</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>